* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background: #fff;
    font-family: "Frank Ruhl Libre", Georgia, serif;
    min-height: 100vh;
    align-items: center;
    padding: 20px;

}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
hr {color: #007bff;
}
.header-logo img {
    height: 3.5rem;
}

.header-text {
    border-top: 1.5px solid orange;
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    margin-left: 20px;
    height: 3.125rem;
    background: #fffbf1;
    align-items: stretch;
    margin: 0;
    flex-direction: column;
}
.header-text a {
    text-decoration: none; 
}

.recipe-article {
    max-width: 800px;
    width: 100%;
}

.recipe-title {
    font-size: 2.375rem;
    letter-spacing: -.04rem;
    line-height: 1.05;
    font-weight: 400;
    margin-bottom: .812rem;
    text-align: center;
}

.recipe-description {
    margin-bottom: 20px;
}

.recipe-image video {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 1%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); 
}


.ingredients-list li {
    margin-bottom: 10px;
}

.recipe-method ol {
    list-style: decimal;
    padding-left: 20px;
}

.section-title {
    padding-left: 0.7rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    border-bottom: 1.5px solid rgb(137, 212, 219);
}

.recipe-source {
    margin-top: 20px;
    font-size: 14px;
}

.recipe-source a {
    color: #177;
}

.link-wrapper {
    text-decoration: none;
    color: #007bff;
    display: flex;
    align-items: center;
}

.link-wrapper:hover {
    text-decoration: underline;
}

.featured-text {
    font-family: Roboto,Helvetica,sans-serif;
    font-weight: 700;
    font-size: .875rem;
    letter-spacing: 1px;
    line-height: 1.2;
    color: #b5460f;
    margin-left: 10px;
    border-left: 1px solid #ffd977;
    width: 100%;
    padding-left: 1rem;
    display: grid;
    row-gap: .25rem;
}
.featured-text a {
    color: #177;
    line-height: 1.2;
    text-decoration: underline;
    font-size: 1rem;
    order: 2;
}

.link-text, .link-texta{
    width: 100%;
    justify-content: center;
    font-family: "Frank Ruhl Libre",Georgia,serif;
    font-size: .75rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #004d4d;
}
.link-text{
font-size: .9375rem;
font-weight: 400;
text-transform: none;
letter-spacing: normal;
margin-right: .5rem;
}
figure span{
    display: flex;
    letter-spacing: .2px;
    font-size: .875rem;
    font-family: Roboto,Helvetica,sans-serif;
    color: #737373;
    justify-content: space-around;

}